
<mat-card>
  <mat-card-title>{{data.id > 0 ? 'Edit data for a student':'Create a student'}}</mat-card-title>
  <form [formGroup]='studentForm'>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap='15px' fxFlex='100'>
        <mat-form-field fxFlex='50' class="col-sm-4" appearance="standard">
          <mat-label>Index</mat-label>
          <input matInput formControlName='index' [required]='true' PinInput>
          <mat-error>Field is required</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex='50' class="col-sm-4" appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput formControlName='name' [required]='true'>
          <mat-error>Field is required</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex='50' class="col-sm-4" appearance="standard">
          <mat-label>Surname</mat-label>
          <input matInput formControlName='surname' [required]='true'>
          <mat-error>Field is required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap='15px' fxFlex='100'>
        <!-- <mat-form-field fxFlex='50' class="col-sm-4" appearance="standard">
          <mat-label>Date of entry</mat-label>
          <input matInput formControlName='dateOfEntry' [required]='true'>
          <mat-error>Field is required</mat-error>
        </mat-form-field> -->
        <mat-form-field appearance="standard">
          <mat-label>Date of entry</mat-label>
          <input matInput [matDatepicker]="picker" formControlName='dateOfEntry' readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Field is required</mat-error>
        </mat-form-field>
        <!-- <mat-form-field fxFlex='50' class="col-sm-4" appearance="standard">
          <mat-label>Date of birth</mat-label>
          <input matInput formControlName='dateOfBirth'>
        </mat-form-field> -->
        <mat-form-field appearance="standard">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName='dateOfBirth' readonly>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex='50' class="col-sm-4" appearance="standard">
          <mat-label>Place of birth</mat-label>
          <input matInput formControlName='placeOfBirth'>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field appearance="standard">
          <mat-label>Professor-Courses</mat-label>
          <mat-select formControlName="coAndPrIds" multiple>
            <mat-option *ngFor="let professorCourse of professorCourses" [value]="professorCourse.id">{{professorCourse.professorCoursesNames}}</mat-option>
          </mat-select>
          <mat-error>Field is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout='row' fxLayoutAlign='end' fxLayoutGap='15px'>
      <button mat-raised-button color='warn' (click)='cancel()' type="button">Cancel</button>
      <button mat-raised-button color='primary' type="submit" (debounceClick)='submit()' DebounceClick [debounceTime]='250'>Submit
      </button>
    </div>
  </form>
</mat-card>


