
<mat-card>
  <mat-card-title>{{data.id > 0 ? 'Edit data for a professor':'Create a professor'}}</mat-card-title>
  <form [formGroup]='professorForm'>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap='15px' fxFlex='100'>
        <mat-form-field fxFlex='50' class="col-sm-4" appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput formControlName='name' [required]='true'>
          <mat-error>Field is required</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex='50' class="col-sm-4" appearance="standard">
          <mat-label>Surname</mat-label>
          <input matInput formControlName='surname' [required]='true'>
          <mat-error>Field is required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field appearance="standard">
          <mat-label>Course</mat-label>
          <mat-select formControlName="courseIds" multiple>
            <mat-option *ngFor="let course of courses" [value]="course.id">{{course.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout='row' fxLayoutAlign='end' fxLayoutGap='15px'>
      <button mat-raised-button color='warn' (click)='cancel()' type="button">Cancel</button>
      <button mat-raised-button color='primary' type="submit" (debounceClick)='submit()' DebounceClick [debounceTime]='250'>Submit
      </button>
    </div>
  </form>
</mat-card>

